<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'/>
</head>
<body>
  {{#if account}}
    <a href='/dashboard'>Dashboard</a>
    <a href='/settings'>Settings</a>
    <a href='/logout'>Logout</a>
  {{else}}
    <a href='/register'>Register</a>
    <a href='/login'>Login</a>
    <a href='/forgot'>Forgot your password?</a>
  {{/if}}
  <br>
  {{#if messages.success}}
    <a style='color: green'>{{messages.success}}</a>
  {{ else if messages.error }}
    <a style='color: red'>{{messages.error}}</a>
  {{ else }}
    <a style='color: orange'>{{messages.info}}</a>
  {{/if}}
  <br>
  {{{body}}}
</body>
</html>
