<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>{{{title}}}</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous'>
</head>
<body>
  {{>header}}
  <br>
  {{#if messages.success}}
    <a style='color: green'>{{messages.success}}</a>
  {{ else if messages.error }}
    <a style='color: red'>{{messages.error}}</a>
  {{ else }}
    <a style='color: orange'>{{messages.info}}</a>
  {{/if}}
  <br>
  {{{body}}}
</body>
{{>scripts}}
</html>
