<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{{{title}}}</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
</head>
<body>
  {{>header}}
  <div class='container'>
    {{#if messages.success}}
      <div class='alert alert-success' role='alert'>
        <a style='color: green'>{{messages.success}}</a>
      </div>
    {{ else if messages.errors }}
        <div class='alert alert-danger' role='alert'>
          {{#each messages.errors}}
            <li><a style='color: red'>{{this.msg}}</a></li>
          {{/each}}
        </div>
    {{ else if messages.error }}
      <div class='alert alert-danger' role='alert'>
        <a style='color: red'>{{messages.error}}</a>
      </div>
    {{ else if messages.info }}
      <div class='alert alert-info' role='alert'>
        <a style='color: blue'>{{messages.info}}</a>
      </div>
    {{/if}}
    <br>
    {{{body}}}
  </div>
  {{#unless account}}
    {{>footer}}
  {{/unless}}
</body>
{{>scripts}}
</html>
