{{>modals/schedule}}

<h3 class='text-center'>Contents</h3>
{{#unless contents}}
  <p class='text-center'>You currently have no contents scheduled from us</p>
{{/unless}}
{{#each contents}}
  <div class='col-lg-12 card' style='margin-bottom: 20px;'>
    <div class='col-lg-12' style='padding-top: 10px; margin-left: -5px;'>
      <div class='row'>
        {{#each Socials}}
          {{#if this.username}}
            <a class='col-xs-1' style='cursor: pointer' data-toggle='modal' data-target='#scheduleModal' data-provider='{{this.provider}}' data-username='{{this.username}}' data-status-message="{{this.Schedule.statusMessage}}" data-status-code='{{this.Schedule.statusCode}}' data-publish-at='{{../this.publishAt}}'>
          {{else}}
            <a class='col-xs-1' style='cursor: pointer' data-toggle='modal' data-target='#scheduleModal' data-provider='{{this.provider}}' data-username='{{this.socialId}}' data-status-message="{{this.Schedule.statusMessage}}" data-status-code='{{this.Schedule.statusCode}}' data-publish-at='{{../this.publishAt}}'>
          {{/if}}
            <img src={{this.profilePicture}} height='30px' width='30px' style='border-radius: 50%; margin-left: -10px'>
            {{#if this.Schedule.isPublished}}
              {{#if this.Schedule.isSuccess}}
                <span class='glyphicon glyphicon-ok-sign' style='color: green'></span>
              {{else}}
                <span class='glyphicon glyphicon-remove-sign' style='color: red'></span>
              {{/if}}
            {{else}}
              <span id='{{../this.publishAt}}' class='glyphicon glyphicon-time expires' style='color: #4185fc'></span>
            {{/if}}
          </a>
        {{/each}}
      </div>
    </div>
    <div class='col-lg-12' style='padding-top: 10px; margin-left: -20px;'>
      {{this.message}}
    </div>
    <div class='col-lg-12' style='font-size: 12px; padding-top: 10px; margin-left: -20px;'>
      <span style='color: #7B8993'>
        Created at <span class='date-to-moment-shortformat'>{{this.created_at}}</span>
      </span>
    </div>
  </div>
{{/each}}
