<h3 class='text-center'>Contents</h3>
{{#unless contents}}
  <p class='text-center'>You currently have no contents scheduled from us</p>
{{/unless}}
{{#each contents}}
  <div class='col-lg-12 card' style='margin-bottom: 20px;'>
    <div class='col-lg-12' style='padding-top: 10px;'>
      <div class='row'>
        {{#each Socials}}
          {{#if this.username}}
            <a class='btn btn-social-icon btn-{{this.provider}}' title={{this.username}} href='http://{{this.provider}}.com/{{this.username}}'>
              <span class='fa fa-{{this.provider}}'></span>
            </a>
          {{else}}
            <a class='btn btn-social-icon btn-{{this.provider}}' title={{this.displayName}} href='http://{{this.provider}}.com/{{this.socialId}}'>
              <span class='fa fa-{{this.provider}}'></span>
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
    <div class='col-lg-12' style='padding-top: 20px; margin-left: -20px;'>
      {{this.message}}
    </div>
    <div class='col-lg-12' style='font-size: 12px; padding-top: 30px; margin-left: -20px;'>
      <div style='color: #7B8993'>
        {{#if this.statusCode}}
          Was published on <span class='date-to-moment-shortformat'>{{this.publishAt}}</span>
        {{else}}
          To be published on <span class='date-to-moment-shortformat'>{{this.publishAt}}</span>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
