<form method='post' action='/content' enctype='multipart/form-data'>
  <div class='form-group'>
    <textarea class='form-control' name='message' cols='45' rows='5' placeholder='What do you want your community to know?'></textarea>
  </div>

  <div class='input-group'>
    <label class='input-group-btn'>
      <span class='btn btn-primary'>
        Choose file&hellip; <input type='file' style='display: none;' name='photo'>
      </span>
    </label>
    <input type='text' class='form-control' readonly>
  </div>

  {{#unless socials}}
    <div class='col-lg-12' style='padding-top: 10px; padding-bottom: 10px'>
      <p>You currently have no connected social accounts</p>
    </div>
  {{/unless}}
  {{#each socials}}
    <label class='checkbox'>
      <div class='col-lg-12 social-hover' style='padding-left: 50px; padding-bottom: 10px'>
          <input type='checkbox' name='socialIds' value={{this.socialId}}>
          <span class='fa fa-{{this.provider}}'>
            {{#if this.username}}
              {{this.username}}
            {{else}}
              {{this.displayName}}
            {{/if}}
          </span>
      </div>
    </label>
  {{/each}}

  <div class='row'>
    <div class='col-xs-8'>

      <div class='input-group date form_datetime' data-link-field='publishAtDate'>
          <input id='dateTimePickerInput' class='form-control' type='text' name='publishAt' readonly>
          <span class='input-group-addon'>
            <span class='glyphicon glyphicon-calendar'></span>
          </span>
          <input id='publishAtDate' type='hidden' value=''>
      </div>
    </div>
    <div class='col-xs-4'>
      <button type='submit' class='btn btn-block btn-primary'>Submit</button>
    </div>
  </div>
</form>
