<div class='col-lg-12'>
  <div class='row'>
    <div class='col-lg-3' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px'>
      <h3 class='text-center'>Your socials</h3>
      {{#each socials}}
        <hr>
        <div>
          <img src={{this.profilePicture}} class='social-profile-picture'>
          <a class='btn btn-social-icon btn-{{this.provider}} social-icon-overlap'>
            <span class='fa fa-{{this.provider}}'></span>
          </a>
          <a href='/social/disconnect/{{this.provider}}/{{this.socialId}}' class='pull-right' style='padding-top: 15px'>Disconnect</a>
        </div>
      {{/each}}
      <hr>
      <div class='text-center'>
        <a href='/auth/twitter' class='btn btn-block btn-social btn-twitter' style='font-size: 12px'>
          <span class='fa fa-twitter'></span> Connect Twitter
        </a>
        <a href='/auth/facebook' class='btn btn-block btn-social btn-facebook' style='font-size: 12px'>
          <span class='fa fa-facebook'></span> Connect Facebook
        </a>
        <a href='/auth/instagram' class='btn btn-block btn-social btn-instagram' style='font-size: 12px'>
          <span class='fa fa-instagram'></span> Connect Instagram
        </a>
      </div>
    </div>
    <div class='col-lg-6' style='padding-top: 20px;'>
      <form method='post' action='/content' enctype='multipart/form-data'>
        <div class='form-group'>
          <textarea class='form-control' name='message' cols='45' rows='5'></textarea>
        </div>

        <div class='col-lg-12' style='padding-bottom: 30px;'>
          <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Choose file&hellip; <input type="file" style="display: none;" name='photo'>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
        </div>

        {{#each socials}}
          <label class='checkbox'>
            <div class='col-lg-12 social-hover' style='padding-left: 50px; padding-bottom: 10px'>
                <input type='checkbox' name='socialIds' value={{this.socialId}}-{{this.provider}}>
                <span class='fa fa-{{this.provider}}'>
                  {{#if this.username}}
                    {{this.username}}
                  {{else}}
                    {{this.displayName}}
                  {{/if}}
                </span>
            </div>
          </label>
        {{/each}}

        <div class='row'>
          <div class='col-xs-8' style='padding-bottom: 225px'>
            <div class='input-group date form_datetime' data-link-field='publishAtDate'>
                <input class='form-control' readonly size='16' type='text' name='publishAt'>
                <span class='input-group-addon'>
                  <span class='glyphicon glyphicon-calendar'></span>
                </span>
                <input id='publishAtDate' type='hidden' value=''>
            </div>
          </div>
          <div class='col-xs-4'>
            <button type='submit' class='btn btn-block btn-primary'>Submit</button>
          </div>
        </div>

      </form>
    </div>
    <div class='col-lg-3' style='background-color: #F6F9FC; border-radius: 5%; padding-top: 5px; padding-bottom: 20px'>
      <h3 class='text-center'>Your contents</h3>
      {{# each contents}}
        <hr>
        {{this.message}}
        {{this.publishAt}}
      {{/each}}
    </div>
  </div>
</div>
