<div style='width: 100%; text-align: center'>
  <div style='display: inline-block'>
    <table class='table'>
      <tbody>
        <tr class='border_bottom'>
          <td style='font-weight: bold'>Name</td>
          <td>
            <p class='pull-right' style='word-break: break-all;'>{{account.firstName}} {{account.lastName }}</p>
          </td>
          <td>
            <a href='/edit' class='pull-right'>Edit</a>
          </td>
        </tr>
        <tr>
          <td style='font-weight: bold'>Email</td>
          <td>
            <p class='pull-right' style='word-break: break-all;'>{{account.email}}</p>
          </td>
          <td>
            {{#if account.verificationToken}}
              <form action='/sendverificationtoken' method='post'>
                <button type='submit' class='btn btn-primary pull-right'>Verify email</button>
              </form>
            {{ else }}
              <a href='/edit' class='pull-right'>Edit</a>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td style='font-weight: bold'>Plan</td>
          {{#if stripeCustomer.trial_start}}
            <td>
              <p class='pull-right'>
                Free Trial
                <br/>
                <a href='/plans'>(Click here to see our plans)</a>
              </p>
            </td>
            <td>
              <form action='/payment' method='POST'>
                <script
                  src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                  data-key={{stripePublishableKey}}
                  data-image='/img/megaphone2048x2048.png'
                  data-name='megaphone.social'
                  data-panel-label='Upgrade'
                  data-label='Upgrade'
                  data-description='Upgrades to Standard Plan'
                  data-allow-remember-me='false'
                  data-currency='eur'
                  data-amount='1500'
                  data-email={{account.email}}
                  >
                </script>
              </form>
            </td>
          {{else}}
            <td>
              <p class='pull-right'>{{stripeCustomer.plan.name}}</p>
            </td>
            <td>
              <form action='/payment/edit' method='POST'>
                <script
                  src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                  data-key={{stripePublishableKey}}
                  data-image='/img/megaphone2048x2048.png'
                  data-name='megaphone.social'
                  data-panel-label='Update payment method'
                  data-label='Update payment method'
                  data-description='Edit your default payment method'
                  data-allow-remember-me='false'
                  data-email={{account.email}}
                  >
                </script>
              </form>
            </td>
          {{/if}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
