{{#if socials}}
    {{#each socials}}
      <div>
        <img src={{this.profilePicture}} class='social-profile-picture'>
        <a class='btn btn-social-icon btn-{{this.provider}} social-icon-overlap'>
          <span class='fa fa-{{this.provider}}'></span>
        </a>
        <a href='/social/disconnect/{{this.provider}}/{{this.profileId}}' class='pull-right' style='padding-top: 15px'>Disconnect</a>
      </div>
      <hr>
    {{/each}}
{{/if}}

<div class='text-center' style='padding-top: 10px;'>
  <a href='/auth/twitter' class='btn btn-block btn-social btn-twitter' style='font-size: 12px'>
    <span class='fa fa-twitter'></span> Connect Twitter
  </a>
  <a href='/auth/facebook' class='btn btn-block btn-social btn-facebook' style='font-size: 12px'>
    <span class='fa fa-facebook'></span> Connect Facebook
  </a>
  <a href='/auth/linkedin' class='btn btn-block btn-social btn-linkedin' style='font-size: 12px'>
    <span class='fa fa-linkedin'></span> Connect LinkedIn
  </a>
</div>
